@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

/* HEADER */
header {
  background-color: black;
  padding: 25px 0;
}
.nav-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 85px;
}
.nav-link {
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}
.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: white;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.logo-img {
  margin: 0 15px;
}

/* hero section */

.hero-section {
  background-image: url(../images/bg-image.jpg);
  height: 649px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 135px 435px 90px;
  align-items: center;
}
.hero-title {
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  letter-spacing: 4px;
}
.hero-p {
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  width: 504px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.btn-primary {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #00afdb;
  width: 184px;
  height: 46px;
  border: none;
  cursor: pointer;
}
.btn-primary a {
  color: white;
}
.hero-text {
  height: 221px;
  width: 730px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socials {
  width: 170px;
  height: 20px;
  margin-top: 183px;
}

/* secnd-section */
.secnd-section {
  background-color: #ffffff;
  height: 842px;
  padding: 120px 269px 140px;
}
.scnd-section-block {
  height: 582px;
  display: flex;
  align-items: center;
  gap: 248px;
}
.scnd-section-text-box h2 {
  font-weight: 700;
  font-size: 24px;
  color: #373737;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 368px;
}
.scnd-section-text-box p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #4e4e4e;
  width: 407px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.scnd-section-text-box p span {
  font-weight: 500;
}
